* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 5rem auto 0;
    color: #374151;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.notion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: .5rem;
    text-align: center;
    background-color: #020617;
    color: white;
}

@media screen and (min-width: 1024px) {
    body {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 90%;
        margin-top: 2rem;
    }
}